/*评价部分*/
body{
	background-color: #f7f7f7;
}
.review-rate{
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
	height: 4.74rem;
	box-sizing: border-box;
	margin-top: 4.7rem;
	background-color: #FFFFFF;
	padding: .677rem .8333rem;
    background-color: #fff;
}
.review-left p:first-of-type ,.review-right p:first-of-type{
	font-size: 0.625rem;
}
.review-rate .p-rate{
    font-size: 1.0415rem;
    color: #ca151e;
    height: 2.1867rem;
    line-height: 2.1867rem;
    width: 5rem;
    text-align: center;
}
.review-rate .p-rate span{
	font-size: 2.083rem;
}
.review-left p:last-of-type{
    color: #bbb;
    font-size: .6rem;
}
.p-label{
	font-size: 0;
}
.review-rate .p-label{
    color: #bbb;
    padding-top: .365rem;
    overflow: hidden;
}
.p-label label {
    line-height: 1.5;
    font-size: .6rem;
    padding-right: 0.66rem;
}
/*用户评价*/
.user-assess{
	width: 100%;
	box-sizing: border-box;
	margin-top: .41665rem;
    background-color: #fff;
    padding: 0 .8333rem .625rem .8333rem;
    margin-bottom: 1rem;
}
.user-assess>ul>li{
	width: 100%;
	border-bottom: 1px solid #eee;
    padding: .625rem 0 .677rem;
    display: flex;
    flex-wrap: wrap;
}
.assess-info{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.78rem;
}
.assess-info p i {
    margin-right: .24rem;
    vertical-align: middle;
}
.vip-4,.vip-2,.vip-3 {
    display: inline-block;
    width: 0.6rem;
    height: 0.6rem;
    background: transparent url(../img/vip.png) scroll no-repeat;
    background-size: 5.4rem 0.6rem;
    background-position: -3.6rem 0;
}
.vip-2 {
    background-position: -1.8rem 0;
}
.vip-3{
	background-position: -2.7rem 0;
}
.assess-info span{
	font-size: 0.6rem;
	color: #888;
}
.star{
    display: inline-block;
    width: 3rem;
    height: 0.6rem;
    overflow: hidden;
    position: relative;
    margin-left: .36rem;
    vertical-align: middle;
    background: transparent url(../img/star.png) repeat-x;
    background-size: 0.6rem 1.2rem;
    background-position: 0 bottom;
}
.assess-info p:last-of-type{
	display: inline;
	float: right;
}
.assess-info p:last-of-type span{
	font-size: .6rem;
    line-height: 1;
    color: #bbb;
}
.assess-content{
	font-size: 0.67706rem;
}
