.show-productImg{
	margin-top: 4.65rem;
	width: 100%;
	font-size: 0;
}
.show-productImg p{
	margin-top: 1px;
}
.show-productImg img{
	width: 100%;
	height: auto;
}
/*视频指南*/
.ZN{
	height:2.5rem;
	font-size: 0.6rem;
	font-family: "微软雅黑","sans-serif";
}
.ZN span{
	display: block;
	width: 100%;
	text-align: center;
	color: red;
}
.ZN a{
	display: block;
	text-align: center;
	margin: 0 auto;
	width: 90%;
}
/*声明部分*/
.tips{
	width: 100%;
	height: 8.5117rem;
	padding: .625rem;
	font-size: 0.6rem;
	box-sizing: border-box;
	background-color: #f7f7f7;
	padding-bottom: 2rem;
}
.tips p{
    line-height: 1.36;
    color: #888;
    margin-bottom: .3rem;
}